.checkout-header {
  height: 90px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(243, 243, 243);

  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-content {
  width: 100%;
  max-width: 1100px;

  display: flex;
  align-items: center;
}

.checkout-header-left-section {
  width: 150px;
}

.amazon-logo {
  width: 100px;
  margin-top: 12px;
}

.amazon-mobile-logo {
  display: none;
}

@media (max-width: 575px) {
  .checkout-header-left-section {
    width: auto;
  }

  .amazon-logo {
    display: none;
  }

  .amazon-mobile-logo {
    display: inline-block;
    height: 35px;
    margin-top: 5px;
  }
}









