* {
  box-sizing: border-box
}


body {
  font-family: Verdana, sans-serif;
   margin:0
  }


.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(120, 114, 114);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  

  -webkit-user-select: none;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


@media only screen and (max-width: 300px) {
  .prev, .next{font-size: 11px}
}